<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617140558291-q8ohnf0vfm5e6qg8hukrlqrlk7gvoie5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617140558291-q8ohnf0vfm5e6qg8hukrlqrlk7gvoie5</string>
	<key>API_KEY</key>
	<string>AIzaSyCd7UnjIZPzIsnP6UB8mM5GH0jnAUW9XeE</string>
	<key>GCM_SENDER_ID</key>
	<string>617140558291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HeshCompany.arsalanalishah1--arsalanalishah1</string>
	<key>PROJECT_ID</key>
	<string>fiverphotoframe</string>
	<key>STORAGE_BUCKET</key>
	<string>fiverphotoframe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617140558291:ios:f306bf8b9b56bc3ccb3726</string>
	<key>DATABASE_URL</key>
	<string>https://fiverphotoframe.firebaseio.com</string>
</dict>
</plist>